*.jl.*.cov
*.jl.cov
*.jl.mem
.vscode/
output/*
tables/*
/docs/build/
.envrc
data/*
figures/*.pdf
*scratch*
/LocalPreferences.toml
test/Manifest.toml
models/*.jld
manuscript/tex/main.*
!manuscript/tex/main.tex