*.jl.*.cov
*.jl.cov
*.jl.mem
.vscode/
output/*
tables/*
/docs/build/
.envrc
data/*
figures/*.pdf
*scratch*
/LocalPreferences.toml
test/Manifest.toml
models/*.jld
manuscript/main.*
!manuscript/main.tex
manuscript/submission.*
!manuscript/submission.tex
manuscript/diff.*
!manuscript/diff.tex