*.jl.*.cov
*.jl.cov
*.jl.mem
.vscode/
output/*
tables/*
/docs/build/
.envrc
data/*
figures/*.pdf
manuscript/main.*
!manuscript/main.tex
slides/figures*
!slides/figures.tex
*scratch*
/LocalPreferences.toml
test/Manifest.toml
models/*.jld